{% extends 'base_admin.html.twig' %}

{% block content %}
    <h1>Attestation</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ attestation.id }}</td>
            </tr>
            <tr>
                <th>Attestations</th>
                <td>{% if attestation.attestations %}{{ attestation.attestations|join(', ') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('attestations_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('attestations_edit', { 'id': attestation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
